.form-container {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        margin: auto;
        padding: 20px;
        font-family: Arial, sans-serif;
  }      
.FELLA{
    text-align: center;
}
.baba {
    width: 350px;
    align-items: center;
    margin-left: 450px;
}

.publication-form {
    margin-top: 16px; /* Adjust the margin as needed */
    text-align: center; /* Center the text (and button) within the form */
}

.but{
    margin-left: 600px;
    margin-top: 30px;
}
input{
    background-color: #F4DFBA;
    border-radius: 10px;
    border: 3px ;
    height: 20px;
    
} 
.form-input {
    width: 100%;
   padding: 8px;

}


.submit-button {
        background-color: #876445;
        color: white;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        transition: transform 0.3s ease; 
        border-radius: 5px;
      }
.submit-button:hover {
        transform: scale(1.1); 
        background-color: #886221; 
        color: black;}
      

  .photo-upload {
    margin-top: 16px;
  }
  .header {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: linear-gradient(to bottom,  #CA965C, #CA965C,  #CA965C);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  .logo-text {
    color: #F4DFBA;/* Set the color for the logo text */
    margin-left: 30px;
    
  }
  
  .nav-links {
    display: flex;
   }
  
  .nav-link {
    text-decoration: none;
    color:white; /* Set the default color for the links */
    margin-right: 40px;
    transition: color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .nav-link:hover {
    color: white; /* Set the color for links on hover */
  }