.about-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  
  .about-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
  }
  
  .contact-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  
 /* AboutUsPage.css */

.contact-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
  }
  
  .contact-icon {
    margin: 0 10px;
    font-size: 24px;
   width: 1000px;
    
   
  }
  
   /*/header,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
 .header {
   
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background: linear-gradient(to bottom,  #CA965C, #CA965C,  #CA965C);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.logo-text {
  color: #F4DFBA;/* Set the color for the logo text */
  margin-left: 30px;
  
}

.nav-links {
  display: flex;
 }

.nav-link {
  text-decoration: none;
  color:white; /* Set the default color for the links */
  margin-right: 40px;
  transition: color 0.3s ease; /* Add a smooth transition effect */
}

.nav-link:hover {
  color: white; /* Set the color for links on hover */
}